body {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	background-color: #ECE8EF;
	color: #0f1020;
}
.header-wrapper {
	background-color: #1C77C3;
	padding: 32px;
	background-image: url("../img/gplay.png");
	background-size: 20%;
	color: #ECE8EF;
	letter-spacing: 1px;
	font-weight: bold;
}
.stat-wrapper {
	background-image: linear-gradient(to bottom right, #0BC9CD, #ECE8EF);
	padding: 32px;
	margin: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.stat-box {
	background-color: #ECE8EF;
	padding: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.stat-row {
	width: 33%;
}
.stat-title {
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1C77C3;
	margin: 8px 0px;
}
.stat-act {
	font-size: 1.2em;
}