body {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	background-color: #F0803C;
	color: #0f1020;
	background-image: url('../img/dice4.png');
	background-attachment: fixed;
	background-size: 5%;
}
.content-wrapper {
	padding: 16px 72px;
}
.content-bar {
	padding: 8px 32px;
	display: flex;
	flex-wrap: wrap;
}
.content-banner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efefef;
	border-radius: 8px;
}
.content-nav {
	width: 100%;
	display: flex;
	align-items: center;
}
.content-left {
	width: 75%;
}
.content-right {
	width: 25%;
}
.content-name {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.content-title {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1px;
	width: 100%;
}
.content-tag {
	font-size: 1.2em;
	letter-spacing: 1px;
	width: 100%;
}
.content-pic {
	padding: 8px;
}
.pic-img {
	width: 100%;
	border-radius: 16px;
}
.button-wrapper {
	padding: 8px;
}
.button-act {
	padding: 8px 16px;
	background-color: #00a7e1;
	transition: 0.3s;
	box-shadow: #0f1020 2px 2px 2px;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: bold;
}
.button-act:hover {
	box-shadow: #0f1020 5px 5px 5px;
}
.button-support {
	padding: 8px 16px;
	background-color: #00a7e1;
	transition: 0.3s;
	box-shadow: #0f1020 2px 2px 2px;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: bold;
	width: 95%;
	cursor: pointer;
}
.button-support:hover {
	box-shadow: #0f1020 5px 5px 5px;
}
.split-wrapper {
	padding: 16px;
	background-color: #efefef;
	border-radius: 8px;
	margin: 0px 8px;
}
.right-box {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 32px 0px;
}
.right-title {
	color: #00a7e1;
	font-size: 1.1em;
	letter-spacing: 1px;
	width: 100%;
}
.right-desc {
	font-size: 1.1em;
	text-align: center;
}
#game1 {
	background-image: url('../img/game1.jpg');
	background-size: cover;
}
#game3 {
}
.legal {
	text-align: center;
	color: white;
}
.twist-body {
	font-size: 1.2em;
	background-color: #d1d1d1;
	border-radius: 8px;
	padding: 8px;
}
.twist-concept {
	padding: 16px 0px;
}
.twist-card {
	background-color: #efefef;
	padding: 24px;
}
.twist-rules {
	padding-left: 16px;
}
.twist-rule {
	margin: 16px 0px;
	display: flex;
}
.rule-big {
	font-weight: bold;
}
.twist-title {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.3em;
	color: #00a7e1;
}
.twist-narrative {
	padding: 16px 0px;
}
.twist-marker {
	background-color: #00a7e1;
	height: 16px;
	min-width: 16px;
	margin: 8px;
    border-radius: 8px;
}
.ng-options {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ng-option {
	width: 50%;
}